@@include('../partial/header.html', {
    "title": "商品详情"
})


<div class="object_goods"></div>

<script type="text/template" id="productItemTemplate">
<div class="ui-tab">
    <ul class="ui-tab-nav ui-border-b">
        <li class="current nav-tab">产品详情</li>
        <% if(data.product.productType == 1){ %><li class="nav-tab">医院简介</li><% } %>
        <li class="nav-tab">全部评论</li>
    </ul>

    <ul class="ui-tab-content">
        <li class="display-none display-block">
            <ul class="ui-list ui-list-text" style="padding:10px;">

                <% if(data.product.content && data.product.content.length>0){%>
                    <%= data.product.content %>
                <% } %>
                <li class="block">

                    <div class="ui-form-item">
                        <% if(data.product.businessHours){ %>
                        <label>
                            营业时间
                        </label>

                        <div><%= data.product.businessHours %></div>
                        <% }%>
                    </div>
                    <div class="ui-form-item">
                        <% if(data.product.serviceTime1){ %>
                        <label>
                            服务时间
                        </label>

                        <div><%= data.product.serviceTime1 %></div>
                        <% }%>
                    </div>
                    <div class="ui-form-item">
                        <% if(data.product.bookedTime){ %>
                        <label>
                            预约时间
                        </label>

                        <div><%= data.product.bookedTime %></div>
                        <% }%>
                    </div>
                    <div class="ui-form-item">
                        <% if(data.product.useNum){ %>
                        <label>
                            适用人数
                        </label>

                        <div><%= data.product.useNum %></div>
                        <% }%>
                    </div>
                    <div class="ui-form-item">
                        <% if(data.product.applicableCrowd){ %>
                        <label>
                            适用人群
                        </label>

                        <div><%= data.product.applicableCrowd %></div>
                        <% }%>
                    </div>

                </li>

            </ul>
            <% if(data.similiarPro && data.similiarPro.length >= 1){ %>
            <h2>相关产品</h2>
            <ul class="ui-grid-halve">
                <% _.each(data.similiarPro,function(product){ %>
                <li data-id="<%= product.id %>" data-type="<%= product.ptype %>">
                    <a href="#">
                        <div class="ui-grid-halve-img">
                            <img src="<%= product.pic1 %>">
                        </div>
                        <h4 class="ui-nowrap"><%= product.name %> </h4>
                        <p class="ui-nowrap"><%= product.name %></p>
                        <p class="pd-8"><span class="price">&yen; <%= product.priceMarket %></span><span class="range"><%= product.distance %></span></p>
                    </a>
                </li>
                <% }) %>
            </ul>
            <% } %>
        </li>
        <% if(data.product.productType == 1){ %>
        <li class="display-none">
            <div class="free-goods">
                <% if (data.org.dsc != "" || data.org.dsc != "") { %>
                <ul class="ui-list ui-list-text ui-border-b mb-0">
                    <li class="ui-border-t">
                        <p>医院简介</p>
                    </li>
                </ul>
                <div class="ui-list fansdb">
                    <div class="ui-list-info">
                        <% if(data.org.pics.length > 0){%>
                        <p class="fansphoto">
                            <% _.each(data.org.pics.split(','),function(pic){ %>
                            <span class="col-xs"><img src="<%= pic %>" ></span>
                            <% })%>
                        </p>
                        <% }%>
                        <p class="fanstext"> <%= data.org.dsc %></p>

                    </div>
                </div>
                <% } %>
                <% if(data.doctors.length>0){%>
                <ul class="ui-list ui-list-text ui-border-b mb-0 show-all-doctors">
                    <li class="ui-border-t ui-list-item-link" data-id="<%= data.org.id%>">
                        <p>认证医生</p>
                        <span class="list-right">查看全部</span>
                    </li>
                </ul>
                <ul class="ui-list ui-list-text doctorpd">

                    <% _.each(data.doctors,function(data){%>
                    <li class="col-xs-4 doctor-detail" data-id="<%= data.id %>">
                        <div class="ui-list-thumb ui-avatar-s">
                            <img src="<%= data.headPicS %>">
                        </div>
                        <div class="ui-list-info">
                            <h3><%= data.nickname %></h3>
                            <p><%= data.professionalTitle %></p>
                        </div>
                    </li>
                    <% })%>
                </ul>
                <% }%>
                <ul class="ui-list hosdb" data-id="<%= data.org.id %>">
                    <li class="ui-list-item-link hospital-detail-jump">
                        <div class="ui-list-thumb ui-avatar-s">
                            <img src="<%= data.org.headPicS %>">
                        </div>
                        <div class="ui-list-info">
                            <h4><%= data.org.nickname %></h4>
                            <p>
    							<span class="<%= star %>">
    								<i class="fa"></i>
    								<i class="fa"></i>
    								<i class="fa"></i>
    								<i class="fa"></i>
    								<i class="fa"></i>
    							</span>
                            </p>
                            <p class="label">
                                <% if(data.org.categorys){%>
                                <% _.each(data.org.categorys,function(categorys){ %>
                                <font><%= categorys.name %></font>
                                <% })%>
                                <% }%>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <% } %>
        <li class="display-none">
            <ul class="ui-list">
                <% if(data.comments.length > 0){ %>
                <% _.each(data.comments,function(comment){ %>
                <li class="ui-border-t block">
                    <div class="fans">
                        <div class="ui-list-thumb ui-avatar-s">
                            <img src="<%= comment.userHeadPicS %>">
                        </div>
                        <div class="ui-list-info">
                            <h4 class="ui-nowrap"><span><%= comment.userNickname %></span>
                                <span class="tag color-1">少女名字</span><span class="tag color-2">少女名字</span><span class="tag">少女名字</span>
                            </h4>
                            <p>
    							<span class="star-3f">
    								<i class="fa"></i>
    								<i class="fa"></i>
    								<i class="fa"></i>
    								<i class="fa"></i>
    								<i class="fa"></i>
    							</span>
                            </p>
                        </div>
                    </div>
                    <div class="fans-photo">
                        <!--<div class="photo"><img src="http://www.mayfle.com/img/tip/mayfle01.png"></div>-->
                        <% if(comment.imgUrl.length>0){ %>
                        <div class="photos">
                            <ul>
                                <% _.each(comment.imgUrl,function(imgUrl,index){ %>
                                <li><img src="<%= imgUrl[index] %>"></li>
                                <% }) %>
                            </ul>
                        </div>
                        <% } %>
                    </div>
                    <div class="fans-txt">
                        <p><%= comment.content %></p>

                    </div>
                </li>
                <% }) %>
                <% }else{ %>
                <p style="text-align: center; padding:30px 0;">暂无评论!</p>
                <% } %>
            </ul>
        </li>
    </ul>
</div>
</script>

@@include('../partial/footer.html',{
    "controller" : "productItemController"
})

  