<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mayfleApi" content="http://192.168.100.57:8080/api/amiee/">
    <meta name="xiaodouApi" content="http://api.mayfle.com/v2/finance/v2.0/">
    <meta name="H5BaseUrl" content="http://192.168.100.52:3000/">

    <title>@@title</title>
    <link rel="stylesheet" href="/css/all.css" id="mayfleBaseCss">
</head>
<body>