<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mayfleApi" content="http://192.168.100.57:8080/api/amiee/">
    <meta name="xiaodouApi" content="http://api.mayfle.com/v2/finance/v2.0/">
    <meta name="H5BaseUrl" content="http://192.168.100.52:3000/">

    <title>美疯啦众筹</title>
    <link rel="stylesheet" href="/css/all.css" id="mayfleBaseCss">
</head>
<body>
<div class="crowdfunding_goods">
</div>
<script type="text/template" id="crowdfundingDetailTemplate">

    
    <div class="banner">
        <img src="<%= crowd.image %>"></li>
    </div>
    <ul class="ui-list ui-list-text ui-list-tit mb-0">
        <li>
            <h2 class="ui-nowrap"><%= crowd.title %></h2>
        </li>
        <li>
            <p><%= crowd.description%></p>
        </li>
        <li class="percentage">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= crowd.percentage * 100 %>%;">
                </div>
            </div>
            <div><span class="tag" style="left:85%">众筹中<!-- 众筹成功--><i class="fa"></i><span></div>
        </li>
        <li>
            <ul class="ui-grid-trisect">
                <li>
                    <h4><%= crowd.percentage * 100 %>%</h4>
                    <p>进行中</p>
                </li>
                <li>
                    <h4><span>¥</span><%= crowd.complete_amount %></h4>
                    <p>已筹集</p>
                </li>
                <li> 
                    <h4>
                        <% if (crowd.days > 0) { %>
                            <%= crowd.days %><span>天</span>
                        <% }else{ %> 
                            <%= Mayfle.formatTime(crowd.seconds) %>
                        <% } %>
                    </h4>
                    <p>剩余时间</p>
                </li>
            </ul>
        </li>
    </ul>
    <div>
        <% if(investCrowdControlList.length >= 1 ){%>
        <h3>选择回报</h3>
        <% _.each(investCrowdControlList,function(investCrowd){ %>

        <ul class="ui-list ui-list-text">
            <li class="ui-border-t">
                <div class="ui-txt-xl"><%= investCrowd.initialAmount %>/次</div>
                <% if(crowd.days != '0'){ %>
                <a class="ui-badge-muted btn-support" data-id="<%= investCrowd.limitId %>" data-refundId="<%= investCrowd.id%>" data-price="<%= investCrowd.initialAmount %>" href="#">
                    立即支持
                </a>
                <% }%>


            <li class="ui-border-t block">
                <h5><%= investCrowd.crowdName %></h5>
                <p><%= investCrowd.levelDescription %></p>
                <p class="grey">众筹注意事项：筹集期间可随时退</p>
                <p class="text-s"><span class="num"><%= investCrowd.levelCount %></span>位支持者 (剩余<span class="num"><%= +investCrowd.levelLimit - +investCrowd.levelCount %></span>位)</p>
            </li>
        </ul>
        <% }) %>
        <% } %>
    </div>
</script>
<script type="text/template" id="classicCaseTemplate">
    <div>
        <h3>经典案例</h3>
        <ul class="ui-list mb-0">
            <% _.each(items,function(item){ %>
            <li class="ui-border-t to-case-detail"  data-id="<%= item.id %>">
                <div class="ui-list-img">
                   <img src="<%= item.image %>">
                </div>
                <div class="ui-list-info">
                    <p><%= item.description %></p>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>

</script>

<script type="text/javascript" src="/js/base/mayfle-min.js" data-main=crowdfundingDetailController id="mayfleBaseJs"></script>

</body>
</html>