<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mayfleApi" content="http://192.168.100.57:8080/api/amiee/">
    <meta name="xiaodouApi" content="http://api.mayfle.com/v2/finance/v2.0/">
    <meta name="H5BaseUrl" content="http://192.168.100.52:3000/">

    <title>美金融</title>
    <link rel="stylesheet" href="/css/all.css" id="mayfleBaseCss">
</head>
<body>
<div class="finance">
    <div id="banner"></div>
    <div id="meifenqi"></div>
    <div id="meilibao"></div>
    <div id="crowdfunding">
        <div class="bgf mb-10">
            <h3>众筹活动</h3>
        </div>
        <div class="bgf mb-10">
            <a data-url="http://wechat.xiaodoue.com/amiee-wx/activities/00/"  class="crowdfundingDetail">
                <img src="http://mayfle.b0.upaiyun.com/base/advert/2/20150303/yinbolapi.jpg">
            </a>
        </div>
        <div class="bgf mb-10">
            <a data-url="http://wechat.xiaodoue.com/amiee-wx/activities/30/" class="crowdfundingDetail">
                <img src="http://mayfle.b0.upaiyun.com/base/advert/2/20150303/shuiguangzhen.jpg">
            </a>
        </div>
    </div>
</div>
<script type="text/template" id="bannerTemplate">
        <% if (data.items.length) { %>
        <div class="ui-slider mb-10">
            <ul class="ui-slider-content" id="scroller_imglist">
                <% _.each(data.items,function(item){ %>
                    <li class="toImageUrl" data-type="<%= item.type %>" data-ptype="<%= item.ptype %>" data-url="<%= item.url %>" data-target="<%= item.target %>">
                        <img src="<%= item.pic %>">
                    </li>
                <% }) %>
            </ul>
        </div>
        <% } %>
</script>

<script type="text/template" id="meifenqiTemplate">
        <div class="bgf mb-10">
            <h3>美分期</h3>
            <ul class="ui-grid-trisect">
                <li>
                    <h4><span class="pink">20000</span></h4>
                    <p>额度最高（元）</p>
                </li>
                <li>
                    <h4><span class="black">12</span></h4>
                    <p>分期期限（月）</p>
                </li>
                <li>
                    <button class="ui-btn pinkbtn" id="applyNow">立即申请</button>
                </li>
            </ul>
        </div>
</script>
<script type="text/template" id="meilibaoTemplate">

        <div class="bgf mb-10">
            <h3>美丽宝</h3>
            <% _.each(sell,function(product,index){ %>
                <% if (index < 2) { %>
                    <ul class="ui-grid-halve">
                        <li>
                            <h5><%= product.name %><span><%= product.subtitle %></span></h5>
                        </li>
                        <li>
                            <h6>合约期限<span class="blue"><%= product.term %>个月</span></h6>
                        </li>
                    </ul>
                    <ul class="ui-grid-trisect ui-border-b">
                        <li>
                            <h4><span class="blue"><%= product.amount %></span></h4>
                            <p>投资金额（元）</p>
                        </li>
                        <li>
                            <h4><span class="black"><%= product.refund_amount %></span></h4>
                            <p>收益（元）</p>
                        </li>
                        <li>
                            <a href="/views/finance/meilibao.html?id=<%= product.id%>" class="ui-btn bluebtn subscribeNow"  data-id="<%= product.id%>">立即申购</a>
                        </li>
                    </ul>
                <% } %>

            <% }) %>

        </div>
</script>

<script type="text/javascript" src="/js/base/mayfle-min.js" data-main=financeController id="mayfleBaseJs"></script>

</body>
</html>
