@@include('../partial/header.html', {
"title": "证件说明"
})
<div class="meilibao">
	<ul class="ui-list ui-list-text">
		<li class="ui-border-b">
			<b>学生证件说明：</b>
		</li>
		<li>
			1：身份证：正面，反面，手持
		</li>
		<li>
			2：居住证明材料三选一：本人手持身份证与宿舍门牌合照，本人用宿舍地址收货的快递底单照片一张，淘宝已完成订单收货地址照片一张
		</li>
		<li>
			3：学籍证明：学信网查询结果（PDF），学生证
		</li>
		<li>
			4：征信报告：个人征信报告
		</li>
		<li>
			5：补充材料：户口本，3个月通话详单，3个月生活费打卡账单等
		</li>
	</ul>
	<ul class="ui-list ui-list-text">
		<li class="ui-border-b">
			<b>白领证件说明：</b>
		</li>
		<li>
			1：身份证：正面，反面，手持
		</li>
		<li>
			2：居住证明材料四选一：常用信用卡账单2期、水电煤账单3期、固话账单3期、房屋租赁合同
		</li>
		<li>
			3：收入证明材料四选一：单位开具的收入证明、3个月的工资流水、劳动合同、个人所得税完税证明
		</li>
		<li>
			4：征信报告：个人征信报告
		</li>
		<li>
			5：补充材料：结婚证、房产证、驾驶证、户口本，3个月通话详单等
		</li>
	</ul>
</div>


</body>

</html>
  